.notificacion{
    display: none;
    z-index: 1050;
    width: 20%;
    position: absolute;
    left: 80%;
    top: 50%;
}
.form-control{
    margin-bottom: 5px;
}

/**
combo grande
 */

.combo-grande tr td{
    cursor: pointer;
}
.combo-grande thead{
    color:  #fff;
   background: #3097d1;
}

.combo-grande tr td:hover {
    background-color: #ced4da;
    cursor: pointer;
    border: 1px inset #ABA791 !important;
}
.contenedor-combo {
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 2px solid #848484;
}

/**
fin
 */

/**
*formulario persona e
*/

.acordion-personae{
  position: relative;
  border-right: 1px solid #ced4da;
}
 .semi-circulo{

   position: absolute;
   left: 100%;
   top: 50%;
   width: 50px;
   color:#fff;
    height: 100px;
    background: #007bff;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
    z-index: 2 !important;
 }
