.notificacion{
    display: none;
    z-index: 1050;
    width: 20%;
    position: absolute;
    left: 80%;
    top: 50%;
}
.form-control{
    margin-bottom: 5px;
}

/**
combo grande
 */

.combo-grande tr td{
    cursor: pointer;
}
.combo-grande thead{
    color:  #fff;
   background: #3097d1;
}

.combo-grande tr td:hover {
    background-color: #ced4da;
    cursor: pointer;
    border: 1px inset #ABA791 !important;
}
.contenedor-combo {

    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
}

/**
fin
 */

/**
*formulario persona e
*/

.acordion-personae{
  position: relative;
  border-right: 1px solid #ced4da;
}
 .semi-circulo{

   position: absolute;
   left: 100%;
   top: 50%;
   width: 50px;
   color:#fff;
    height: 100px;
    background: #007bff;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
    z-index: 2 !important;
 }
 /**
 *observacion contenedorNotificacion
 */
 .container-observation{
  background-color: whitesmoke;
  border-radius: 0px 10px 10px 10px;
  -moz-border-radius: 0px 10px 10px 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  margin-bottom: 10px;
  border: 0px solid #000000;
 }
 .triandulo-observacion{

  width: 0;
  z-index:20;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #000;
  border-bottom: 5px solid transparent;
  position:absolute;
  left:-10px;
  top:0;
 }
 .table th{
   text-align: center;
   }
 .table td{
   text-align: center;
 }
